<% @properties.each do |property| %>
  
    <div class="col-3">
        <%= link_to property_thumbnail(property), property_path(property) %>
        <br>
        <h5><%= property.name %></h5>
        <h5><%= property.price %> $</h5>
        <p><%= property.zone + ", " + property.city %></p>
    </div>
<% end %>





