<p style="color: green"><%= notice %></p>

<h1>Properties</h1>

<div id="properties">

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col">Rooms</th>
      <th scope="col">Bathrooms</th>
      <th scope="col">Area</th>
      <th scope="col">Kind</th>
      <th scope="col">Operation</th>
      <th scope="col">City</th>
      <th scope="col">Zone</th>
      <th scope="col">Description</th>
      <th scope="col">Lot area</th>
      <th scope="col">Parkings</th>
    </tr>
  </thead>

  <% @properties.each do |property| %>
    <%= render property %>
    <td>
      <%= link_to "Show this property", property %>
    </td>
    <tr>
    
  <% end %>

</table>
</div>

<%= link_to "New property", new_property_path %>

<div class="mt-sm-5"></div>
