.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    overflow: hidden;
    top: 50px;
}

.carousel img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    margin: 7px;
}

.carousel:hover {
    position: absolute;
    margin-left: 20%;
    width: 45%;
    height: auto;
    overflow: hidden;
    top: 50px;
}

.table {
    width: 100%;
    height: 100%;
    margin-top: 200px;
}
